h1, h2 {
    font-family: serif;
}
nav, a{
    font-weight: bold;
}
nav {
    font-weight: bold;
}
.container {
    padding: 20px;  
}
section {
    line-height: 1.5;
}

form {
    border: 1px solid #ccc;
    padding:10px;
}
p {
    color: green;
}
button {
    background-color: blue;
    color: white;
}
footer {
    border-top: 2px solid red;
}

